@media screen and (max-width: 1100px){
    #navbar{
        width: 90%;
    }
    section{
        .container{
            width: 90%;
        }
    }
}
@media screen and (max-width: 768px){
    #latest{
        display: none;
    }
    #navbar{
        #desktop{
            display: none;
        }
    }
    #main_stuff{
        h1.main, h2.main{
            text-align: center !important;
        }
        width: 100% !important;
    }
    section{
        h1.main{
            font-size: 12.5vw;
        }
        h2.main{
            font-size: 4vw;
        }
    }
}
@media screen and (max-width: 500px){
    .flexbox{
        &.to-block{
            display: block;
        }
    }
    span{
        &.to-margin-top{
            display: block;
            margin-top: 20px;
        }
    }
    form{
        input{
        &.fancy{
            height: 50px;
            font-size: 1em;
        }
    }
    }
    #main_form{
        display: block;
        input{
            width: 100%;
        }
        #search{
            width: 100% !important;
        }
    }
}