@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;500;700&family=IBM+Plex+Sans:wght@300&family=Lobster&display=swap');
@import 'partials/colors';
@import 'partials/mixins';
@import '~balloon-css/src/balloon';

body{
    margin: 0;
    background: $blue;
}
.dark{
    color: $black;
}
#navbar{
    position: fixed;
    width: 80%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'IBM Plex Sans', sans-serif;
    background: $blue;
    z-index: 200;
    #desktop{
        nav{
            padding-right: 20px;
            padding-left: 20px;
            text-align: center;
            font-size: 1em;
            display: inline-block;
            font-weight: normal;
            cursor: pointer;
            &.bright{
                color: $white;
            }
        }
    }
    #logo{
        font-family: 'DM Sans', sans-serif;
        font-size: .95em;
        &.bright{
            color: $white;
        }
    }
}
.flexbox{
    display: flex;
    &.justify-between{
        justify-content: space-between;
    }
    &.justify-center{
        justify-content: center;
    }
    &.align-center{
        align-items: center;
    }
    &.wrap{
        flex-wrap: wrap;
    }
}
section{   
    .container{
        width: 80%;
    }
    a{
        color: $white;
        text-decoration: none;
        &.normal{
            border-bottom: 1px solid $white;
        }
    }
    .author-image{
        height: 150px;
        width: 150px;
        background: $white;
        border-radius: 100px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.07);
    }
    .box{
        padding-left: 40px;
        padding-right: 40px;
        &.bright{
            background: $white;
        }
        &.rounded{
            border-radius: 10px;
        }
        &.bordered{
            border-bottom: 2px solid $white;
        }
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $white;
        }
        .item{
            padding: 20px;
            min-height: 75px;
            position: relative;
            &:before{
                position: absolute;
                left: 0;
                height: 10px;
                width: 10px;
                left: -6px;
                border-radius: 10px;
                content: "";
                background: $white;
            }
            span{
                display: block;
                font-family: 'IBM Plex Sans', sans-serif;
                font-weight: lighter;
                font-size: .89em;
                a{
                    color: white;
                    text-decoration: none;
                    border-bottom: 1px solid $white;
                }
            }
            &.bright{
                color: $white;
                border-left: 2px solid $white;
            }
            h2{
                margin-bottom: 5px;
                font-size: 1.1em;
                font-family: 'DM Sans', sans-serif;
            }
        }
    }
    &.full{
        min-height: 100vh;
        width: 100%;
    }
    &#main{
        background: $blue;
    }
    h1, h2{
        font-family: 'DM Sans', sans-serif;
    }
    h3{
        font-family: 'IBM Plex Sans', sans-serif;
        color: $white;
        font-weight: bolder;
    }
    p{
        font-family: 'IBM Plex Sans', sans-serif;
        color: $white;
    }
    h1{
        color: $white;
        font-weight: lighter;
        font-size: 2.75em;
        span{
            position: relative;
            &:before{
                position: absolute;
                background: $white; 
            }
            transition: .5s ease all;
        }
        &.dark{
            color: $black;
        }
        &.main{
            font-weight: lighter;
            font-size: 5em;
            margin: 0;
        }
    }
    h2{
        color: $white;
        &.main{
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: lighter;
            font-size: 1.5em;
        }
    }
}
ul{
        &.ibm li { font-family: 'IBM Plex Sans', sans-serif !important; font-weight: bolder; }
        &.noborder li { border: none !important; padding-left: 20px; padding-right: 20px; }
        a{
                color: $white !important;
                text-decoration: none;
            } 
        &.noborder li:hover{
            cursor: pointer;
            background: $white;
            color: $blue;
            a{
                color: $blue !important;
            }
        }
        &.fancy-list{
            padding: 0;
            list-style: none;
            li{
                border-bottom: 1px solid rgba(255,255,255,0.5);
                padding-top: 20px;
                padding-bottom: 20px;
                font-family: 'DM Sans', sans-serif;
                color: $white;
                svg{
                    &.right{
                        margin-right: 10px;
                    }
                }
                .icon{
                    position: relative;
                    z-index: 1;
                    padding: 10px;
                    background: $white;
                    color: $blue;
                    display: inline-block;
                    margin: 5px;
                    border-radius: 5px;
                    box-shadow: 0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.07);
                    transition: .25s all ease-in-out;
                    &:hover{
                        cursor: pointer;
                        transform: translateY(3px);
                        box-shadow: 0 4px 2px rgba(0,0,0,0.05), 0 2px 10px rgba(0,0,0,0.07);
                    }
                }
            }
        }
    }
form{
    &.full-width{
        width: 100%;
    }
    &.centered{
        text-align: center;
    }
    span{
        font-family: 'IBM Plex Sans', sans-serif;
    }
    select{
        &.fancy{
            margin-top: 20px; 
            height: 62.5px;
            outline: none;
            border: none;
            color: white;
            text-indent: 20px;
            background: rgba(255,255,255,0.15);
            border-top-left-radius: 5px; 
            border-bottom-left-radius: 5px; 
            border-right: 1px solid rgba(255,255,255,0.25);
        }
    }
    input{
        &.fancy{
            margin-bottom: 20px;
            outline: none;
            border: none;
            height: 60px;
            font-size: 1.15em;
            font-family: 'IBM Plex Sans', sans-serif;
            color: white;
            text-indent: 20px;
            background: rgba(255,255,255,0.15);
            box-shadow: 0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.07);
            @include placeholder{
                color: rgba(255,255,255,0.78);
            }
            &.full-width{ width: 100%; }
        }
    }
    button {
        font-family: 'DM Sans', sans-serif;
        cursor: pointer;
        &:hover{
            background-color: rgba(255,255,255,0.12);
        }
        &.fancy{
            position: relative;
            color: $white;
            background-color: $blue;
            font-size: 1em;
            border: none;
            border-bottom: 2.5px solid $white;
            outline: none;
            padding: 15px;
            max-width: 200px;
            width: 100%;
            &.del{
                background: red;
            }
            span{
                font-family: 'DM Sans', sans-serif;
                position: relative;
                z-index: 2;
                transition: .1s ease all;
            }
            &:after{
                position: absolute;
                z-index: 1;
                bottom: -2px;
                left: 0;
                width: 100%;
                height: 0%;
                background: $white;
                content: "";
                transition: .25s ease all;
            }
            &:hover:after{
                height: calc(100% + 4px);
            }
            &:hover span{
                transition-delay: .05s;
                color: $blue;
            }
        }
    }
    
}

@import 'responsive.scss';