@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;500;700&family=IBM+Plex+Sans:wght@300&family=Lobster&display=swap');
@import 'partials/colors';
@import 'partials/mixins';

body{
    margin: 0;
    background: $white;
}
#navbar{
    position: fixed;
    width: 80%;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'IBM Plex Sans', sans-serif;
    #desktop{
        nav{
            padding-right: 20px;
            padding-left: 20px;
            text-align: center;
            font-size: 1em;
            display: inline-block;
            font-weight: normal;
            cursor: pointer;
            &.bright{
                color: $white;
            }
        }
    }
    #logo{
        font-family: 'DM Sans', sans-serif;
        font-size: .95em;
        padding-left: 20px;
        &.bright{
            color: $white;
        }
    }
}
.flexbox{
    display: flex;
    &.justify-between{
        justify-content: space-between;
    }
    &.justify-center{
        justify-content: center;
    }
    &.align-center{
        align-items: center;
    }
}
section{   
    .container{
        width: 80%;
    }
    .box{
        padding-left: 40px;
        padding-right: 40px;
        &::-webkit-scrollbar {
                width: 5px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $white;
            }
        .item{
            padding: 20px;
            min-height: 75px;
            position: relative;
            &:before{
                position: absolute;
                left: 0;
                height: 10px;
                width: 10px;
                left: -6px;
                border-radius: 10px;
                content: "";
                background: $white;
            }
            span{
                display: block;
                font-family: 'IBM Plex Sans', sans-serif;
                font-weight: lighter;
                font-size: .89em;
                a{
                    color: white;
                    text-decoration: none;
                    border-bottom: 1px solid $white;
                }
            }
            &.bright{
                color: $white;
                border-left: 2px solid $white;
            }
            h2{
                margin-bottom: 5px;
                font-size: 1.1em;
                font-family: 'DM Sans', sans-serif;
            }
        }
    }
    &.full{
        min-height: 100vh;
        width: 100%;
    }
    &#main{
        background: $blue;
    }
    h1, h2{
        font-family: 'DM Sans', sans-serif;
    }
    h1{
        &.main{
            color: $white;
            font-weight: lighter;
            font-size: 5em;
            margin: 0;
        }
    }
    h2{
        &.main{
            font-family: 'IBM Plex Sans', sans-serif;
            color: $white;
            font-weight: lighter;
            font-size: 1.5em;
        }
    }
}
form{
    &.full-width{
        width: 100%;
    }
    &.centered{
        text-align: center;
    }
    select{
        &.fancy{
            margin-top: 20px; 
            height: 62.5px;
            outline: none;
            border: none;
            color: white;
            text-indent: 20px;
            background: rgba(255,255,255,0.15);
            border-top-left-radius: 5px; 
            border-bottom-left-radius: 5px; 
            border-right: 1px solid rgba(255,255,255,0.25);
        }
    }
    input{
        &.fancy{
            margin-top: 20px;
            outline: none;
            border: none;
            height: 60px;
            font-size: 1.15em;
            font-family: 'IBM Plex Sans', sans-serif;
            color: white;
            text-indent: 20px;;
            background: rgba(255,255,255,0.15);
            box-shadow: 0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.07);
            @include placeholder{
                color: rgba(255,255,255,0.78);
            }
            &.full-width{ width: 100%; }
        }
    }
}

@import 'responsive.scss';